.StatusBadge {
  display: inline-block;
  border-radius: 100px;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.StatusBadge--active {
  background: #D1FAE5;
  color: #065F46;
}

.StatusBadge--disabled {
  background: #FEF3C7;
  color: #92400E;
}
